* text=auto eol=lf

# Configurações de diferenciação para arquivos específicos
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Ignorar arquivos na exportação
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
